Merge/join or concat the datasets. Real-world examples   

1. Identify which customers have made orders   
   **Dataset A:** Customer Information (Customer ID, Name, Email)
      
|Customer ID|Name|Email|   
|:---|:---|:---|
|101 | Aline|aline@example.com| 
|102 | Arto |arto@example.com|   
|103 | Juho|juho@example.com|  

**Dataset B:** Order Details (Order ID, Customer ID, Product, Quantity)

|Order ID|Customer ID|Product|Quantity|
|---|---|---|---|
|5001| 101|Widget A|3|
|5002| 102|Widget B|2|
|5003|101|Widget C|1|

In [1]:
import pandas as pd
data_a = {'Customer ID': [101, 102, 103],
          'Name': ['Aline', 'Arto', 'Juho'],
          'Email': ['aline@example.com', 'arto@example.com', 'juho@example.com']}
df_a = pd.DataFrame(data_a)

data_b = {'Order ID': [5001, 5002, 5003],
          'Customer ID': [101, 102, 101],
          'Product': ['Widget A', 'Widget B', 'Widget C'],
          'Quantity': [3, 2, 1]}
df_b = pd.DataFrame(data_b)

merged_data = pd.merge(df_a, df_b, on='Customer ID', how='inner')
print(merged_data)

   Customer ID   Name              Email  Order ID   Product  Quantity
0          101  Aline  aline@example.com      5001  Widget A         3
1          101  Aline  aline@example.com      5003  Widget C         1
2          102   Arto   arto@example.com      5002  Widget B         2

--------- 
2. Compile a comprehensive list of all employees, including those without salary information.   

**Dataset A:** Employee Records (Employee ID, Name, Department)   
| Employee ID  | Name  | Department |	
|---|---|---|
| E01 | Marja  | Marketing 
| E02 | Paul  | Sales |
| E03 | Tom  | IT  |
   
**Dataset B:**  Salary Information (Employee ID, Salary)
    
|Employee ID|	Salary|
|---|---|
|E01|	70000|
|E03|	85000|

In [2]:
import pandas as pd
data_a = {'Employee ID': ['E01', 'E02', 'E03'],
          'Name': ['Marja', 'Paul', 'Tom'],
          'Department': ['Marketing', 'Sales', 'IT']}
df_a = pd.DataFrame(data_a)
data_b = {'Employee ID': ['E01', 'E03'],
          'Salary': [70000, 85000]}
df_b = pd.DataFrame(data_b)
merged_data = pd.merge(df_a, df_b, on='Employee ID', how='left')
print(merged_data)

  Employee ID   Name Department   Salary
0         E01  Marja  Marketing  70000.0
1         E02   Paul      Sales      NaN
2         E03    Tom         IT  85000.0

______
3. Generate a report showing all sales, including those for books not currently in the inventory.   

**Dataset A:** Book Inventory (Book ID, Title, Author)    
     
|Book ID|Title	|Author|
|---|---|---|
|B101|Mystery Island|A. Author|
|B102|Science 101|B. Writer|      
  
**Dataset B:** Sales Data (Sale ID, Book ID, Quantity Sold)   

|Sale ID|Book ID|Quantity Sold|
|---|---|---|
|S501|B101|40|
|S502|B103|25|

In [3]:
import pandas as pd

data_a = {'Book ID': ['B101', 'B102'],
          'Title': ['Mystery Island', 'Science 101'],
          'Author': ['A. Author', 'B. Writer']}
df_a = pd.DataFrame(data_a)
data_b = {'Sale ID': ['S501', 'S502'],
          'Book ID': ['B101', 'B103'],
          'Quantity Sold': [40, 25]}
df_b = pd.DataFrame(data_b)

merged_data = pd.merge(df_a, df_b, on='Book ID', how='left')
print(merged_data)

  Book ID           Title     Author Sale ID  Quantity Sold
0    B101  Mystery Island  A. Author    S501           40.0
1    B102     Science 101  B. Writer     NaN            NaN

------

4.Create an overview showing all users and their purchasing history, including non-purchasing users and purchases by non-registered users.  

**Dataset A:** Online Users (User ID, Name, Last Login)    
   
|User ID|Name|Last Login|
|---|---|---|
|U101|	Aleski |2023-01-10|
|U102|	|Sammi|	2023-01-15|

    
**Dataset B:** Purchase History (User ID, Purchase Amount)  
    
|User ID|Purchase Amount|
|---|---|
|U101|	150|
|U103|	200|

In [6]:
import pandas as pd
data_a = {'User ID': ['U101', 'U102'],
          'Name': ['Aleski', 'Sammi'],
          'Last Login': ['2023-01-10', None]}
df_a = pd.DataFrame(data_a)

data_b = {'User ID': ['U101', 'U103'],
          'Purchase Amount': [150, 200]}
df_b = pd.DataFrame(data_b)

merged_data = pd.merge(df_a, df_b, on='User ID', how='left')

print(merged_data)

  User ID    Name  Last Login  Purchase Amount
0    U101  Aleski  2023-01-10            150.0
1    U102   Sammi        None              NaN

----- 
5. Combine these datasets to form a comprehensive half-yearly sales report.   
    
**Dataset A:** Sales Q1 (Sale ID, Product, Amount)   
    
|Sale ID|Product| Amount|
|---|---|---|
|SA1001|Widget A|200|
|SA1002|Widget B|150|
     
**Dataset B:** Sales Q2 (Sale ID, Product, Amount)   
     
|Sale ID|Product|Amount|
|---|---|---|
|SA2001	|Widget C|300|
|SA2002	|Widget A|100|

In [7]:
import pandas as pd
data_q1 = {'Sale ID': ['SA1001', 'SA1002'],
           'Product': ['Widget A', 'Widget B'],
           'Amount': [200, 150]}
df_q1 = pd.DataFrame(data_q1)
data_q2 = {'Sale ID': ['SA2001', 'SA2002'],
           'Product': ['Widget C', 'Widget A'],
           'Amount': [300, 100]}
df_q2 = pd.DataFrame(data_q2)
comprehensive_report = pd.concat([df_q1, df_q2], ignore_index=True)
print(comprehensive_report)

  Sale ID   Product  Amount
0  SA1001  Widget A     200
1  SA1002  Widget B     150
2  SA2001  Widget C     300
3  SA2002  Widget A     100